  
<?xml version="1.0"?>

<model>
  <name>International Space Model (Paper)</name>
  <version>1.0</version>
  <sdf version="1.5">model.sdf</sdf>

  <author>
    <name>Adrián Trujillo</name>
    <email>adrii.trujillo@gmail.com</email>
  </author>

  <description>
    A model of the NASA International Space Station (ISS). In which more handles have been added.
  </description>

</model>