<launch>
  <rosparam command="load" file="$(find direct_dynamic_controller)/config/left_arm/direct_dynamic_controller.yaml" />
   
  <!-- Set up controller -->
  <arg name="controller_list"
       value="left_arm_dynamic_controller"/>

  <arg name="simulation" default="true"/>

  <!-- Load the motor parameters -->
  <group if="$(arg simulation)">
  	<rosparam command="load" file="$(find direct_dynamic_controller)/config/left_arm/motor_params_simulation.yaml" />
  </group>
  <group unless="$(arg simulation)">
  	<rosparam command="load" file="$(find direct_dynamic_controller)/config/left_arm/motor_params.yaml" />
  </group>
          
</launch>
