<?xml version="1.0" encoding="UTF-8"?>

<launch>

    <rosparam file="$(find astronaut_controllers)/config/motion_cartesian_controller.yaml" command="load"/>
    <rosparam file="$(find astronaut_controllers)/config/motion_cartesian_controller_hw.yaml" command="load"/>

    <!-- Load hardware interface -->
    <node name="sim_hardware_interface" pkg="ros_control_boilerplate" type="sim_hw_main" output="screen" />

    <node name="astronaut_controller_spawner" pkg="controller_manager" type="spawner" output="screen" args="my_cartesian_motion_controller"/>

    <group ns="my_joint_to_cartesian_controller" >
        <node name="controller_spawner" pkg="controller_manager" type="spawner" args="joint_trajectory_controller" />
    </group>

</launch>