<?xml version="1.0"?>

<model>
  <name>International Space Station</name>
  <version>1.0</version>
  <sdf version="1.0">model.sdf</sdf>

  <author>
    <name>Adrián Trujillo</name>
    <email>adrii.trujillo@gmail.com</email>
  </author>

  <description>
    A model of the international space station.
  </description>

</model>
